body {
    background-color: hsl(204, 24%, 65%);
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content";
    background-color: white;
margin: 12%;
box-shadow: 3px 3px 5px 6px rgba(122, 119, 119, 0.857);    
}




    .grid-item-1{
        grid-area: header;
        padding: 2%;
        
    }
    .grid-item-1> b{
        color: hsl(179, 62%, 43%) ;

    }
    .grid-item-1 span{
        color: hsl(71, 73%, 54%);
    }



    .grid-item-2{
        grid-area: sidebar;
        background-color: hsl(179, 62%, 43%);
        padding: 10%;
    }
    .grid-item-2 > span {
        text-emphasis: muted;
    }



    .grid-item-3{
        grid-area: content;
        background-color: hsl(179, 53%, 70%);
        padding: 10%;

    }
    .grid-item-3
