#ok{
    text-decoration: solid;
    text-align: justify;
    background-color: rgb(93, 117, 138);
    padding: 3%;
    margin:  10%;
    position: relative;

}
div{
 background-size: cover;
 background-color: bisque;
 padding: 3%;
 margin: 1%;
text-align: center;

}
button{
    background-color: bisque;

}