body{
    background-color: rgb(13, 17, 17);
    height: 100vh;
    width: 100%;
    overflow:  hidden;


}


.round-img{
    position: absolute;
    top: -350px;
    left: -250px;   
    transition-property: hight;
    transition-duration: 10s;   

}
.round-img:hover{
    width: 5px;
}


.text{
    position: absolute;
    bottom: -350px;
    right: -300px;
    transform: all ease-in-out;
}

.text:hover{
transform: matrix();}